{% extends "webroot/base.html" %}
{% block content %}
  <h1 class="mb-5 ml-5">
    Vulnerabilities by {{ view.kwargs.username }}: <b class="ml-3" style="color: #0000ff">{{ page_obj.paginator.count }}</b>
  </h1>
  {% for vuln in vulns %}
    <div class="post-container">
      <h5 class="post-author">{{ vuln.author.username }}</h5>
      <p class="post-date">{{ vuln.date_posted|date:"F d, Y" }}</p>
      <div class="post-section" style="overflow-wrap: break-word;">
        <a class="post-title-link" href="{% url 'vuln-detail' vuln.id %}">
          <h2 class="post-title">{{ vuln.title }}</h2>
        </a>
        <p class="vuln-summary">{{ vuln.summary }}</p>
        <div class="post-section pt-3 pb-3">
          <p class="vuln-cve"><b>CVE: {{ vuln.cve }}</b></p>
          <p class="post-date">Risk Score: {{ vuln.risk_score }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="btn crumbs" href="?page=1">First</a>
      <a class="btn crumbs mr-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn crumb-active ml-3 mr-3" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn crumbs" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a class="btn crumbs ml-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn crumbs" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %}
{% endblock content %}
