{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'webroot/main.css' %}">
  {% if title %}
    <title>CIS474 - {{ title }}</title>
  {% else %}
    <title>CIS474</title>
  {% endif %}
</head>
<body>
  <header class="header-section">
    <nav class="navbar navbar-expand-md navbar-dark navbar-bg-blue fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'vuln-dash' %}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="btn nav-link" href="{% url 'vuln-list' %}">Vulnerabilities</a>
            <a class="btn nav-link ml-4" href="{% url 'rem-list' %}">Remediations</a>
          </div>
          <div class="navbar-nav">
            {% if user.is_authenticated %}
              <a class="btn nav-link mr-4" href="{% url 'vuln-create' %}">New Vuln</a>
              <a class="btn nav-link mr-4" href="{% url 'profile' %}">Profile</a>
              <a class="btn nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="btn nav-link mr-4" href="{% url 'login' %}">Login</a>
              <a class="btn nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="container-fluid mb-5">
    <form style="display: inline;" id="searchvuln" action="{% url 'vuln-search' %}" method="GET" accept-charset="utf-8">
      <input class="searchfield ml-3" id="vulnsearchbox" name="q" type="text" placeholder="Search a vulnerability">
      <button class="btn btn-primary ml-3 mr-5" type="submit"><b style="color: #000000;">Search</b></button>
    </form>
    <form style="display: inline;" id="searchrem" action="{% url 'rem-search' %}" method="GET" accept-charset="utf-8">
      <input class="searchfield ml-5 mr-3" id="remsearchbox" name="q" type="text" placeholder="Search a remediation">
      <button class="btn btn-warning mr-3" type="submit"><b style="color: #000000;">Search</b></button>
    </form>
  </div>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-10">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock content %}
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
